<%- include('partials/header') %> 

<div class="ui main container">
    <div class="ui two column centered grid">
        <div class="column">
            <h2 class="ui dividing header center aligned">Edit <span class="ui orange tiny header">Book!</span></h1>
        </div>
    </div>
    <div class="ui orange inverted top attached segment">
        <form action="/books" method="POST" class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Title of the book</label>
                    <input type="text" name="book[title]" value="<%= book.title %>" required>
                </div>
                <div class="field">
                    <label>Author</label>
                    <input type="text" name="book[author]" value="<%= book.author %> " required>
                </div>
            </div>
            <div class="ui two column centered grid">
                <div class="ui column field">
                    <label>Book Cover Url</label>
                    <input type="text" name="book[image]" value="<%= book.image %>" required>
                </div>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="book[description]" required><%= book.description %></textarea>
            </div>
            <div class="field">
                <div class="ui two column centered grid">
                    <div class="column">
                        <button type="submit" class="ui fluid inverted button" tabindex="0">Finish</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui orange inverted bottom attached segment">
        <div class="ui padded centered middle aligned two column grid">
            <form action="/books/<%= book._id %>?_method=DELETE" method="POST" class="form">
                <button type="submit" class="ui red fluid button" tabindex="0">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 