<%- include('partials/header') %> 

    <h1 class="ui divided header">
        <%= campground.name %> 
    </h1>
    <img src="<%= campground.image %>" alt="">
    <p> <%= campground.description %> </p>
    <% campground.comments.forEach((comment) => { %> 
        <p class=""><%= comment.content %> </p>
    <% }) %>         
<%- include('partials/footer') %> 